.modal-no {
    background: white;
    padding: 24px;
    border-radius: 16px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    place-items: center;
}

.title {
    color: #E2599A;
    font-size: 36px;
    font-weight: 700;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 32px;
}

.text {
    color: #3E000C;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
}

.blocks {
    display: flex;
    gap: 12px;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 16px;
    flex-grow: 1;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
}

.block:hover {
    cursor: pointer;
    opacity: 0.9;
}

.block-white {
    background: #f7f7f8;
    color: #24243a;
}

.block-black {
    background: #24243a;
    color: white;
}

.block-title {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.block-info {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.extra-text {
    flex-grow: 1;
    text-align: start;
    font-weight: 500;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    justify-content: flex-start;
}

.list-item {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #3E000C;
    font-size: 14px;
    font-weight: 500;
}

.list-item > img {
    width: 20px;
}


.btn-modal {
    font-size: 16px;
}

.btn-modal:hover {
    box-shadow: inset 0 -4px 4px 0 #A01D4C, inset 0 4px 4px 0 #DC2869;
}