.modal-no {
    background: white;
    padding: 24px;
    border-radius: 16px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    place-items: center;
}

.title {
    color: #E2599A;
    font-size: 32px;
    font-weight: 600;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 32px;
}

.text {
    color: #3E000C;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text > p {
    margin: 0;
    padding: 0;
}
